{{ name|striptags|title }}
{# ^^^^ @variable #}
{#      ^^^^^ @function.call #}
{#                ^^^^^ @function.call #}

{{ listx|join(', ') }}
{# ^^^^^ @variable #}
{#       ^^^^ @function.call #}
{#            ^^^^ @string #}

{{ listx|join(str) }}
{# ^^^^^ @variable #}
{#       ^^^^ @function.call #}
{#            ^^^ @variable.parameter #}

{{ foo.bar|random }}
{# ^^^ @variable #}
{#     ^^^ @variable.member #}
{#         ^^^^^^ @function.call #}
